[Unit]
Description=Plex Media Server
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name=plex --hostname=rex -v plex:/opt -v /media/plex:/media/plex:z -p 32400:32400 -p 1900:1900 -p 3005:3005 -p 32410:32410/udp -p 32412:32412/udp -p 32413:32413/udp -p 32414:32414/udp -p 32469:32469 mantlepro/plex
ExecStop=/usr/bin/docker stop -t 5 plex
ExecStopPost=/usr/bin/docker rm -f plex

[Install]
WantedBy=multi-user.target
